
<h1>Welcome To Your DashBoard</h1>
<p class="pb-3">Manage your products on your favourite ecommerce platform</p>

<div id="search-nav" class="d-flex align-items-center">
    <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
    <input
        type="text" class="form-control d-inline-block w-25 me-3"
        [formControl]="search" placeholder="Search"
    />
    <button class="btn btn-outline-secondary">
        Search
    </button>
    <button
        class="btn btn-outline-dark ms-auto" data-bs-toggle="modal"
        data-bs-target="#productFormModal"
    >
        Add New Product
    </button>
</div>

<div
    class="modal fade" id="productFormModal" data-bs-backdrop="static" aria-hidden="true"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="productFormModalLabel"
>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header p-2">
          <h5 class="modal-title" id="productFormModalLabel">Add New Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row justify-content-center" [formGroup]="productForm">
            <div class="row justify-content-center mb-3">
                <div class="col-6">
                    <div class="form-floating">
                        <input
                            id="name" class="form-control" formControlName="name"
                            placeholder="product name"
                        />
                        <label for="name">Name</label>
                    </div>
                    <p
                        class="form-text text-danger"
                        *ngIf="
                            (productForm.get('name')?.touched && !productForm.get('name')?.valid)
                            || (!productForm.get('name')?.valid && formErr)
                        "
                    >
                        required field: can not be empty
                    </p>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input
                            id="item-code" class="form-control" formControlName="itemCode"
                            placeholder="Product code"
                        />
                        <label for="item-code">Item Code</label>
                    </div>
                    <p
                        class="form-text text-danger"
                        *ngIf="
                            (productForm.get('itemCode')?.touched && !productForm.get('itemCode')?.valid)
                            || (!productForm.get('itemCode')?.valid && formErr)
                        "
                    >
                        required field: can not be empty
                    </p>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-6">
                    <div class="form-floating">
                        <input
                            id="price" class="form-control" formControlName="price"
                            placeholder="product price"
                        />
                        <label for="price">Price</label>
                    </div>
                    <p
                        class="form-text text-danger"
                        *ngIf="
                            (productForm.get('price')?.touched && productForm.get('price')?.errors?.required)
                            || (!productForm.get('price')?.valid && formErr)
                        "
                    >
                        required field: can not be empty
                    </p>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input type="number" id="quantity-in-stock" class="form-control" formControlName="quantityInStock" placeholder="product quantity available" />
                        <label for="quantity-in-stock">Quantity Available</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <textarea
                            id="description" class="form-control" formControlName="description"
                            placeholder="product description"
                        ></textarea>
                        <label for="description">Description</label>
                    </div>
                    <p
                        class="form-text text-danger"
                        *ngIf="
                            (productForm.get('description')?.touched && !productForm.get('discription')?.valid)
                            || (!productForm.get('description')?.valid && formErr)
                        "
                    >
                        An error text example
                    </p>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <button t
                type="button" class="btn btn-secondary"
                data-bs-dismiss="modal" (click)="productForm.reset()"
            >
                Cancel
            </button>
            <button
                type="button" class="btn btn-primary"
                (click)="addNewProduct()"
            >
                <span *ngIf="!savingProduct; else loading">Save</span>
            </button>
        </div>
      </div>
    </div>
</div>

<div id="content">
    <div id="products" *ngIf="products.length; else empty"></div>
</div>

<ng-template #loading>
    <i class="fas fa-spinner fa-spin"></i>
</ng-template>

<ng-template #empty>
    <div class="empty">
        <h4 class="empty-text">No Product Added Yet</h4>
        <div role="button" class="add-product p-1" data-bs-toggle="modal" data-bs-target="#productFormModal">
            <a class="text-secondary text-decoration-none me-1">Add Product</a>
            <i class="fa-sharp fa-solid fa-plus text-secondary"></i>
        </div>
    </div>
</ng-template>

